HELP.md
/target/
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/PCFeedback.log
*.gz
/.pmd

/src/main/resources/nextcloud.properties
/src/main/resources/pretix.properties
/src/main/resources/mail.properties
/src/main/resources/signal.properties
