name: Test and publish

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Git
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Test and publish to GitHub Packages
      run: mvn --batch-mode --file pom.xml deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}